<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{.Title}}</title>
  <link rel="stylesheet" href="{{.ServiceURL}}/static/css/style.css">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>">
</head>
<body>
  <div class="landing">
    <div class="name">sean o'mara</div>
    <div class="tagline">cs and math student | software developer</div>
    <div class="links-container">
      <a href="#about">about</a><span class="separator">|</span>
      <a href="#education">education</a><span class="separator">|</span>
      <a href="#experience">experience</a><span class="separator">|</span>
      <a href="#interests">interests</a>
    </div>
  </div>

  <hr>

  <h2 id="about">about me</h2>
  <p>
    Hello! I'm Sean O'Mara, a computer science student graduating in May of 2025. I am interested in a career in software development.
    <br><br>
    I thrive when I'm learning new things and working on something challenging that I haven't yet quite wrapped my head around.
    <br><br>
    This site serves as a testament to this, as its powered by a custom web framework I wrote from scratch in Go.
  </p>

  <hr>

  <h2 id="education">education</h2>
  <ul>
    <li><strong>BS in Computer Science, Minor in Mathematics</strong></li>
    <li><em>The Catholic University of America</em></li>
    <li>Relevant coursework: Data Structures, Computer Organization and Architecture, Operating Systems, Machine Learning, Calculus, Discrete Mathematics</li>
  </ul>

  <hr>

  <h2 id="experience">experience</h2>
  <ul>
    <li><strong>Software Engineering Intern</strong>, <em>Commvault</em></li>
    <li>Gained hands-on experience in professional software development</li>
    
    <li><strong>Undergraduate Research Assistant</strong>, <em>The Catholic University of America</em></li>
    <li>Conducted research in mathematics, developing analytical and problem-solving skills</li>
    
    <li><strong>NCAA Baseball Team Member</strong>, <em>The Catholic University of America</em></li>
    <li>Developed leadership, teamwork, and time management skills</li>
  </ul>

  <hr>

  <h2 id="interests">interests</h2>
  <ul>
    <li><strong>Software Development:</strong> I'm passionate about writing software and solving problems, and I love learning new things by building projects.</li>
  <li><strong>Poker:</strong> I enjoy the strategic thinking and probability analysis involved in poker games.</li>
  <li><strong>Skiing:</strong> I find joy in the thrill of downhill skiing and the challenge of mastering new slopes.</li>
  </ul>

  <hr>

  <div class="footer">
    <p>site powered by <a href="https://github.com/smomara/gossamer">gossamer</a> - my custom web framework</p>
  </div>
</body>
</html>